* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $darkGrey;
  background-color: $placeholder;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

a {
  color: $orange;
}

//global reusable classes



.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}
