@mixin tablet {
   @media (min-width: #{$bp-tablet}){
    @content;
  }
};
@mixin laptop {
   @media (min-width: #{$bp-laptop}){
    @content;
  }
};
@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
