.feature-item {
  padding-bottom: 2.5rem;
  position: relative;
  @include tablet {
    padding-left: 95px;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    @include tablet {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.6rem;
    margin-top: 0.7em;
    font-weight: 300;
    margin-bottom: 0.8rem;
    text-align: center;
    @include tablet {
      text-align: left;
      font-size: 1.875rem;
      margin-top: 1em;
    }
  }
}
