.large-hero {
  position: relative;
  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }
  &__title {
    font-weight: 300;
    color: $navyBlue;
    margin: 0;
    font-size: 1.1rem;
    @include tablet {
      font-size: 2rem;
    }
    @include laptop {
      font-size: 4rem;
    }
  }
  &__subtitle {
    font-weight: 300;
    color: $navyBlue;
    margin: 0;
    font-size: .8rem;
    @include tablet {
      font-size: 1.2rem;
    }
    @include laptop {
      font-size: 2.6rem;
    }
  }
  &__description {
    color: white;
    font-size: .8rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 $transBlack;
    max-width: 15rem;
    margin-right: auto;
    margin-left: auto;
    @include tablet {
      font-size: 1.3rem;
      max-width: 20rem;
    }
    @include laptop {
      font-size: 2rem;
      max-width: 30rem;
    }
  }

}
