.page-section {
  padding: 1.2rem 0;
  @include laptop {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $navyBlue;
    color: white;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;
    @include tablet {
      padding-bottom: 4.5rem;
    }
  }

  &--testimonials {
    background-color: #e0e6ef;
    @include tablet {
      & .lazyloaded {
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }
}
